In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('clean_data_evasion_clientes.csv')

In [3]:
data.shape

(7267, 23)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7267 non-null   object
 1   contrato_cancelado       7043 non-null   object
 2   genero                   7267 non-null   object
 3   cliente_tercera_edad     7267 non-null   bool
 4   conyugue                 7267 non-null   bool
 5   dependientes             7267 non-null   bool
 6   antiguedad(meses)        7267 non-null   int64
 7   servicio_telefonico      7267 non-null   bool
 8   multilinea               7267 non-null   bool
 9   servicio_internet        7267 non-null   bool
 10  tipo_conexion            7267 non-null   object
 11  seguridad_online         7267 non-null   bool
 12  respaldos                7267 non-null   bool
 13  proteccion_dispositivos  7267 non-null   bool
 14  soporte_tecnico          7267 non-null   bool
 15  streaming_TV             7267 non-null   bool
 16  streaming_movies         7267 non-null   bool
 17  tipo_contrato            7267 non-null   object
 18  factura_digital          7267 non-null   bool
 19  metodo_pago              7267 non-null   object
 20  cargo_mensual            7267 non-null   float64
 21  total_pagado             7267 non-null   float64
 22  cuenta_diaria            7267 non-null   float64
dtypes: bool(13), float64(3), int64(1), object(6)
memory usage: 660.1+ KB

In [5]:
data.drop('id',axis=1,inplace=True)
data.head()

,contrato_cancelado,genero,cliente_tercera_edad,conyugue,dependientes,antiguedad(meses),servicio_telefonico,multilinea,servicio_internet,tipo_conexion,...,proteccion_dispositivos,soporte_tecnico,streaming_TV,streaming_movies,tipo_contrato,factura_digital,metodo_pago,cargo_mensual,total_pagado,cuenta_diaria
0,False,Female,False,True,True,9,True,False,True,DSL,...,False,True,True,False,One year,True,Mailed check,65.6,593.30,2.186667
1,False,Male,False,False,False,9,True,True,True,DSL,...,False,False,False,True,Month-to-month,False,Mailed check,59.9,542.40,1.996667
2,True,Male,False,False,False,4,True,False,True,Fiber optic,...,True,False,False,False,Month-to-month,True,Electronic check,73.9,280.85,2.463333
3,True,Male,True,True,False,13,True,False,True,Fiber optic,...,True,False,True,True,Month-to-month,True,Electronic check,98.0,1237.85,3.266667
4,True,Female,True,True,False,3,True,False,True,Fiber optic,...,False,True,True,False,Month-to-month,True,Mailed check,83.9,267.40,2.796667

In [6]:
data = data.replace({True:1,False:0})

/tmp/ipykernel_16743/1017057720.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace({True:1,False:0})

In [7]:
data

,contrato_cancelado,genero,cliente_tercera_edad,conyugue,dependientes,antiguedad(meses),servicio_telefonico,multilinea,servicio_internet,tipo_conexion,...,proteccion_dispositivos,soporte_tecnico,streaming_TV,streaming_movies,tipo_contrato,factura_digital,metodo_pago,cargo_mensual,total_pagado,cuenta_diaria
0,0.0,Female,0,1,1,9,1,0,1,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,0.0,Male,0,0,0,9,1,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,1.0,Male,0,0,0,4,1,0,1,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,1.0,Male,1,1,0,13,1,0,1,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,1.0,Female,1,1,0,3,1,0,1,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,0.0,Female,0,0,0,13,1,0,1,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.838333
7263,1.0,Male,0,1,0,22,1,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.836667
7264,0.0,Male,0,0,0,2,1,0,1,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.676667
7265,0.0,Male,0,1,1,67,1,0,1,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.261667
7266,0.0,Male,0,1,1,63,0,0,1,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.966667

In [8]:
data['contrato_cancelado'].unique()

array([ 0.,  1., nan])

In [9]:
data_can_predict = data[data['contrato_cancelado'].isnull()]

In [10]:
data_can_predict

,contrato_cancelado,genero,cliente_tercera_edad,conyugue,dependientes,antiguedad(meses),servicio_telefonico,multilinea,servicio_internet,tipo_conexion,...,proteccion_dispositivos,soporte_tecnico,streaming_TV,streaming_movies,tipo_contrato,factura_digital,metodo_pago,cargo_mensual,total_pagado,cuenta_diaria
30,NaN,Female,0,0,0,11,1,1,1,Fiber optic,...,0,0,0,0,Month-to-month,1,Bank transfer (automatic),79.00,929.30,2.633333
75,NaN,Male,0,0,0,71,1,0,0,sin conexion,...,0,0,0,0,Two year,1,Credit card (automatic),19.90,1355.10,0.663333
96,NaN,Male,0,0,0,29,1,0,1,DSL,...,0,1,0,0,One year,1,Electronic check,58.75,1696.20,1.958333
98,NaN,Female,1,0,0,5,1,0,1,DSL,...,0,1,0,0,Month-to-month,0,Credit card (automatic),59.90,287.85,1.996667
175,NaN,Male,1,1,0,65,1,1,1,Fiber optic,...,1,0,1,1,One year,1,Bank transfer (automatic),103.15,6792.45,3.438333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,NaN,Female,0,0,0,14,1,1,1,DSL,...,0,0,0,0,One year,1,Mailed check,54.25,773.20,1.808333
7180,NaN,Female,0,1,0,49,0,0,1,DSL,...,0,0,1,0,Month-to-month,0,Bank transfer (automatic),40.65,2070.75,1.355000
7211,NaN,Male,0,0,0,9,1,1,1,Fiber optic,...,0,0,0,0,Month-to-month,1,Electronic check,76.25,684.85,2.541667
7239,NaN,Female,0,1,1,67,1,0,0,sin conexion,...,0,0,0,0,Two year,1,Bank transfer (automatic),19.25,1372.90,0.641667
7247,NaN,Female,0,1,1,31,1,0,0,sin conexion,...,0,0,0,0,Month-to-month,1,Mailed check,19.55,658.95,0.651667

In [11]:
data = data.drop(data_can_predict.index)

In [12]:
data

,contrato_cancelado,genero,cliente_tercera_edad,conyugue,dependientes,antiguedad(meses),servicio_telefonico,multilinea,servicio_internet,tipo_conexion,...,proteccion_dispositivos,soporte_tecnico,streaming_TV,streaming_movies,tipo_contrato,factura_digital,metodo_pago,cargo_mensual,total_pagado,cuenta_diaria
0,0.0,Female,0,1,1,9,1,0,1,DSL,...,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,0.0,Male,0,0,0,9,1,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,1.0,Male,0,0,0,4,1,0,1,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,1.0,Male,1,1,0,13,1,0,1,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,1.0,Female,1,1,0,3,1,0,1,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,0.0,Female,0,0,0,13,1,0,1,DSL,...,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.838333
7263,1.0,Male,0,1,0,22,1,1,1,Fiber optic,...,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.836667
7264,0.0,Male,0,0,0,2,1,0,1,DSL,...,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.676667
7265,0.0,Male,0,1,1,67,1,0,1,DSL,...,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.261667
7266,0.0,Male,0,1,1,63,0,0,1,DSL,...,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.966667

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   contrato_cancelado       7043 non-null   float64
 1   genero                   7043 non-null   object
 2   cliente_tercera_edad     7043 non-null   int64
 3   conyugue                 7043 non-null   int64
 4   dependientes             7043 non-null   int64
 5   antiguedad(meses)        7043 non-null   int64
 6   servicio_telefonico      7043 non-null   int64
 7   multilinea               7043 non-null   int64
 8   servicio_internet        7043 non-null   int64
 9   tipo_conexion            7043 non-null   object
 10  seguridad_online         7043 non-null   int64
 11  respaldos                7043 non-null   int64
 12  proteccion_dispositivos  7043 non-null   int64
 13  soporte_tecnico          7043 non-null   int64
 14  streaming_TV             7043 non-null   int64
 15  streaming_movies         7043 non-null   int64
 16  tipo_contrato            7043 non-null   object
 17  factura_digital          7043 non-null   int64
 18  metodo_pago              7043 non-null   object
 19  cargo_mensual            7043 non-null   float64
 20  total_pagado             7043 non-null   float64
 21  cuenta_diaria            7043 non-null   float64
dtypes: float64(4), int64(14), object(4)
memory usage: 1.2+ MB

In [14]:
data_variables_categoricas = ['genero','tipo_conexion','tipo_contrato','metodo_pago']

In [15]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [16]:
one_hot = make_column_transformer((OneHotEncoder(drop='if_binary'),data_variables_categoricas),
    remainder='passthrough',
    sparse_threshold=0,
    force_int_remainder_cols=False)

In [17]:
X = data.drop('contrato_cancelado',axis=1)
y = data['contrato_cancelado']

In [19]:
X = one_hot.fit_transform(X)

In [22]:
df_x = pd.DataFrame(X,columns=one_hot.get_feature_names_out())

In [24]:
data['contrato_cancelado'].value_counts(normalize=True)

contrato_cancelado
0.0    0.73463
1.0    0.26537
Name: proportion, dtype: float64

In [25]:
data['contrato_cancelado'].value_counts()

contrato_cancelado
0.0    5174
1.0    1869
Name: count, dtype: int64

In [27]:
from imblearn.over_sampling import SMOTE

In [28]:
oversampling = SMOTE()
X_balanceada,y_balanceada = oversampling.fit_resample(X,y)

In [30]:
y_balanceada.value_counts(normalize=True)

contrato_cancelado
0.0    0.5
1.0    0.5
Name: proportion, dtype: float64

In [34]:
# normalizacion
from sklearn.preprocessing import MinMaxScaler

In [35]:
normalizacion = MinMaxScaler()
X_normalizada = normalizacion.fit_transform(X)

In [36]:
pd.DataFrame(X_normalizada)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.471144,0.068315,0.471144
1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.414428,0.062454,0.414428
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.553731,0.032338,0.553731
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.793532,0.142531,0.793532
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.653234,0.030789,0.653234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.367164,0.085540,0.367164
7039,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.665174,0.215745,0.665174
7040,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.318905,0.010680,0.318905
7041,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.493532,0.532845,0.493532
7042,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.405473,0.426907,0.405473